extends layout

block content
 div.container
  h1 All Users	
  table.table.table-bordered.table-striped.table-hover
   tr
    th ID
    th Name
    th Address
    th Email
    th Status
    th(colspan=2) Action
    - var x = 0;
   for user in users
     tr
       td #{++x}
       td #{user.username}
       td #{user.address}
       td #{user.email}
       td #{user.status}
       td
        a.btn.btn-success.btn-sm(href='users/edit?id=#{user._id}') Edit 
       td
        a.btn.btn-danger(href='users?id=#{user._id}') Delete	
  a.pull-right.btn.btn-primary.btn-sm(href='users/addUser') Add User